# Dependencies
node_modules/
package-lock.json

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.log
test.html
index-debug.html
index-compiled.html
